.BM {
    width: 80vw; 
    height: 10vw;
    background-color: gray;
    margin-left: 10vw;
    margin-top: 1vw;
    padding-left: 10% ;
    padding-top: 2%;
}
.N{
    width: 15vw;
    height: 9vw;
    background-color: white;
}
